<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>TP3</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>registrationServlet</servlet-name>
		<servlet-class>exercice6.registrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registrationServlet</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>headerServlet</servlet-name>
		<servlet-class>exercice3.headerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>headerServlet</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TableServlet</servlet-name>
		<servlet-class>exercice1.TableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TableServlet</servlet-name>
		<url-pattern>/table</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SquareServlet</servlet-name>
		<servlet-class>exercice2.SquareServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SquareServlet</servlet-name>
		<url-pattern>/square</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>headerServlet</servlet-name>
		<servlet-class>exercice3.headerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>headerServlet</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DrawServlet</servlet-name>
		<servlet-class>exercice4.DrawServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DrawServlet</servlet-name>
		<url-pattern>/draw</url-pattern>
	</servlet-mapping>

</web-app>